{% set repo =  salt['grains.filter_by']({
    'Ubuntu-14.04': {
        "pkgs": ["dpkg-dev"],
        "ambari_repo_nginx": {
            "sourcefile": "ubuntu14.04_ambari_repo_nginx.conf",
            "server": "ambari-server1.example.com",
            "ip": "10.12.0.93",
            "port": "8089",
            "root": "/var/www/"
        },
        "repo_dirs": {
            "hdp-repo-dir": {
                "dirname": "/var/www/HDP/ubuntu14/2.x/updates/",
                "dirtarget": "/var/www/HDP/ubuntu14/2.x/updates/HDP/ubuntu14",
                "dirsymlink": "/var/www/HDP/ubuntu14/2.x/updates/2.5.3.0",
                "apt_repo": "deb http://ambari-server1.example.com:8089/HDP/ubuntu14/2.x/updates/2.5.3.0/ HDP main",
                "tarball_files": [
                    "HDP-2.5.3.0-ubuntu14-deb.tar.gz"
                ]
            },
            "hdp-utils-repo": {
                "dirname": "/var/www/",
                "apt_repo": "deb http://ambari-server1.example.com:8089/HDP-UTILS-1.1.0.21/repos/ubuntu14/ HDP-UTILS main",
                "tarball_files": [
                    "HDP-UTILS-1.1.0.21-ubuntu14.tar.gz"
                ]
            },
            "common-repo-dir": {
                "dirname": "/var/www/ubuntu-14.04-common",
                "apt_repo": "deb http://ambari-server1.example.com:8089/ubuntu-14.04-common ./",
                "tarball_files": [
                    "ubuntu-14.04-common.tar.gz"
                ]
            },
        },
    },
    'CentOS Linux-7': {
    },
    'CentOS Linux-6': {
    },
}, grain='osfinger', merge=salt['pillar.get']("repo") ) %}
