{% set keepalived_repo_url = pillar['keepalived']['keepalived_repo_url'] %}
{% set keepalived_deb_pkg = pillar['keepalived']['keepalived_deb_pkg'] %}
{% set keepalived_depen_pkgs = pillar['keepalived']['keepalived_depen_pkgs'] %}